body {
    background-image: url('/IS216/website/resource/tavern.webp');
    background-size: auto;
}

h1{
    animation: type 6s steps(72);
    color: #ffffff;
    font-size: auto;
    font-family: consolas;
    white-space: nowrap;
    overflow: hidden;
    }
  
  @keyframes type{
    0%{
      width:0ch;
    }
    
    100%{
      width:50ch;
    }
  }
  
  @keyframes blink{
    0%{opacity:1;}
    50%{opacity:0;}
    100%{opacity:1;}
  }
  